[Desktop Entry]
Type=Application
Name=Launch Monitor Standby Script
Comment=Run display blanking script for multiple monitor issue
Exec=(enter full path here)/mmds.sh
StartupNotify=false
Terminal=false
Name[en_IE]=mmds_launcher
