[Desktop Entry]
Type=Application
Name=Launch Login Setup Script
Comment=Run display blanking script for pl-alpha issue
Exec=(enter full path here)/mmds.sh
StartupNotify=false
Terminal=false
Name[en_IE]=mmds_launcher
